# =================
# Archivos de Secretos y Configuración
# 
# =================
.env
*.env

# =================
# Entornos Virtuales de Python
# 
# =================
env/
.env/
venv/
.venv/
venv.bak/
.venvs/

# =================
# Archivos de Despliegue de Vercel
# =================
.vercel/

# =================
# Archivos de Caché de Python
# =================
__pycache__/
*.py[cod]
*$py.class

# =================
# Archivos de IDEs y Editores
# =================
.vscode/
.idea/

# =================
# Archivos del Sistema Operativo
# =================
.DS_Store
Thumbs.db

# =================
# Archivos de Debug
# =================
.debug.txt
degub.py

# =================
# Archivos de Debug
# =================
db/